/**
  * Nifty Nav 2
  * A JavaScript menu framework.
  * Author: Eric Stout, Factor1 Studios
  * https://github.com/factor1/nifty-nav-2
**/

@import 'niftyNav2-settings';
@import 'placeholders';


/**
 *
 * Icon Styles
 *
**/
.nifty-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 60px;
  min-height: 60px;
  background: none;
  border: none;
  appearance: none;
  &:after { // 🤡 this after prevents the <span>(s) from being the click target 🤡
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /**
   * Square Icon
  **/
  &--square {
    @extend %burger;
  }

  /**
   * Rounded Icon
  **/
  &--rounded {
    @extend  %burger;
    span, span:before, span:after {
      height: 5px;
      border-radius: 10px;
    }
    span:before {
      content: '';
      top: -12px;
    }
    span:after {
      content: '';
      bottom: -12px;
      top: 12px;
    }
  }

  /**
   * Active State
  **/
  &.nifty-active {
    span {
      background-color: transparent !important;
      &:before {
        top: 0;
        transition: all 300ms ease-out;
        transform: rotate(45deg);
        background-color: $iconColor;
      }
      &:after {
        top: 0;
        transition: all 300ms ease-out;
        transform: rotate(-45deg);
        background-color: $iconColor;
      }
    }
  }

  /**
   * Has Menu Text
  **/
  &--has-text {
    span, span:before, span:after{
      margin: 0;
      left: initial;
      left: unset;
      right: 0;
    }
  }

  /**
   * Menu Text Container
  **/
  &--text {
    display: inline-block;
    position: relative;
    margin: 0 45px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    color: $menuTextColor;
  }

}

/**
 *
 * Panel Styles
 *
**/
.nifty-panel {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $panelColor;
  overflow: hidden;
  z-index: 999;
  transition: all 500ms ease-in-out;

  // Top Origin
  &--top {
    left: 0;
    // Closed State
    &.nifty-panel--closed {
      max-height: 0;
    }
    // Open State
    &.nifty-panel--open {
      max-height: 100vh;
    }
  }

  // -- Animation Options-- //
  //fade
  &--fade {
    &.nifty-panel--closed {
      opacity: 0;
      visibility: hidden;
      max-height: 100vh;
    }
    &.nifty-panel--open {
      opacity: 1;
      visibility: visible;
      max-height: 100vh;
    }
  }

  // off
  &--off {
    transition: none;
  }

}

/**
 *
 * Mask Styles
 *
**/
.nifty-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $maskColor;
  opacity: 0;
  z-index: 998;
  transition: opacity 500ms ease;
  &--active {
    height: 100vh;
    opacity: 1;
    transition: opacity 500ms ease;
  }
  &--closing {
    height: 100vh;
    opacity: 0;
  }
  &--disabled {
    background-color: transparent;
  }
  &--animation-off {
    transition: none;
  }
}
